<h1>Editing trip</h1>

<% form_for(@trip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish %>
  </p>
  <p>
    <%= f.label :intervalable_type %><br />
    <%= f.text_field :intervalable_type %>
  </p>
  <p>
    <%= f.label :intervalable_id %><br />
    <%= f.text_field :intervalable_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trip %> |
<%= link_to 'Back', trips_path %>