<div class="yui-g"> 
	<div class="yui-u first"> 

		<h2>Log In </h2>

		<% form_tag session_path do -%>
		<p><%= label_tag 'login' %><br />
		<%= text_field_tag 'login', @login %></p>

		<p><%= label_tag 'password' %><br/>
		<%= password_field_tag 'password', nil %></p>

		<!-- Uncomment this if you want this functionality
		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>
		-->

		<p><%= submit_tag 'Log in' %></p>

		<% end -%>
	</div>
	<div class="yui-u" xmlns:fb="http://www.facebook.com/2008/fbml"> 
		<h2><%=link_to "Sign up", signup_url%></h2>
	  <% unless params[:fb_user] %>
			<div class="space"></div>
			<h3>Do you use Facebook?</h3>
			Use Facebook to register for <b>eq</b>
				<div class="space"></div>
			<fb:login-button onclick='facebook_button_onclick()'></fb:login-button>
	  <% end %>

		<div class="space"></div>
    
		<!-- <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script> -->
	</div>
</div>