<div class="yui-g"> 
	<div class="yui-u first"> 
		<h3>Add a web calendar</h3>
		<%=text_field_tag :url, "http://" %> <input type="submit" value="Add">
		
  </div> 
	<div class="yui-u"> 
		<h3>Add a busy period</h3>
		<%=text_field_tag :url, "today" %> to <%=text_field_tag :url, "all day" %> <input type="submit" value="Add">
	</div>

	<div class="fw">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
					id="calendar" width="100%" height="100%"
					codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="/calendar/bin-release/calendar.swf?url=<%=h @data_url%>" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#869ca7" />
			<param name="allowScriptAccess" value="sameDomain" />
			<embed src="/calendar/bin-release/calendar.swf?url=<%=h @data_url%>" quality="high" bgcolor="#869ca7"
				width="100%" height="100%" name="calendar" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
		</object>
	</div>
</div>