<h2>Availability</h2>
<div class="space"></div>
<div class="yui-g"> 
	<div class="yui-u first"> 
		<% form_for WebCalendar.new do |f| %>
			<h3>Add a web calendar</h3>
			<%=f.text_field :url, :value => "http://" %> 
			<input type="submit" value="Add">
		<% end %>
		<div class="space"></div>
		<h3>Following these calendars:</h3>
		<ul id="web_calendars"><%=render current_user.web_calendars %></ul>
		<div class="space"></div>
		<% form_for BusyInterval.new do |f| %>
			<h3>Add a busy period</h3>
			<%=f.text_field :start, :size => 20, :class=> "date-pick" %> 
			to 
			<%=f.text_field :finish, :size => 20, :class=> "date-pick" %> 
			<input type="submit" value="Add">
		<% end %>
  </div> 
	<div class="yui-u"> 
		<div id="calendar"></div>
	</div>
	
	<div class="fw">
	</div>
	
	<script>
	$(document).ready(function() {

			var d = new Date();
			var y = d.getFullYear();
			var m = d.getMonth();

			$('#calendar').fullCalendar({
				draggable: true,
				events: [<%=@events.map {|e|
					<<-STR
					{
						"id": #{e.id},
						"title": "Busy",
						"start": new Date(#{e.startms}),
						"end": new Date(#{e.finishms}),
					}
					
					STR
				}.join(",") 
				%>]
			});

		});
		
		$(function() {
			$('.date-pick').datepicker();
		});
		
	</script>
</div>