<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%> <%=@time_span.name%> <%=@proximity.name %></h4>
	<h2>With? </h2>	
	<ul>
		<% @group_sizes.each do |size| %>
			<li><%=link_to size.name, new_activity_time_span_proximity_group_size_familiarity_url(@activity, @time_span, @proximity, size) %></li>
		<% end %>
		<li>
			<input type=text value=2 size=4 /> to <input size=4 type=text value=20 /> people
			<input type="submit" value="Choose">
		</li>
	</ul>
</div>
