<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%> <%=@time_span.name%></h4>
	<h2>Where? </h2>	
	<ul>
		<% @proximities.each do |prox| %>
			<li><%=link_to prox.name, new_activity_time_span_proximity_group_size_url(@activity, @time_span, prox) %></li>
		<% end %>
		<li>
			<form action="<%=request.request_uri.gsub('/new', '')%>" method="POST">
				Within <%=text_field_tag "proximity[radius]", "10", :size => 4 %> miles of 
				<%=text_field_tag "proximity[location_string]", "Me", :onfocus => "if(this.value == 'Me')this.value=''" %>
				<script>
					$("#other").autocomplete("/locations/ac");
				</script>
				<input type="submit" value="Choose">
			</form>
		</li>
	</ul>
</div>
