<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%> <%=@time_span.name%></h4>
	<h2>Where? </h2>	
	<ul>
		<% @proximities.each do |prox| %>
			<li><%=link_to prox.name, new_activity_time_span_proximity_group_size_url(@activity, @time_span, prox) %></li>
		<% end %>
		<li>
		Within <input type="text" size=4 value=10> miles of 
		<%=text_field_tag "other", "Me", :onfocus => "if(this.value == 'Me')this.value=''" %>
		<script>
			$("#other").autocomplete("/locations/ac");
		</script>
			<input type="submit" value="Choose">
		</li>
	</ul>
</div>
