<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%> <%=@time_span.name%></h4>
	<h2>Where? </h2>	
	<ul>
		<% Proximity::DEFAULTS.each do |name, radius| %>
			<li><%=link_to name, request.request_uri.gsub('/new', '') + "?proximity[location_string]=Me&proximity[radius]=#{radius}", :method => :post %></li>
		<% end %>
		<li>
			<form action="<%=request.request_uri.gsub('/new', '')%>" method="POST">
				Within <%=text_field_tag "proximity[radius]", "10", :size => 4 %> miles of 
				<%=text_field_tag "proximity[location_string]", "Me", :onfocus => "if(this.value == 'Me')this.value=''" %>
				<script>
					$("#other").autocomplete("/locations/ac");
				</script>
				<input type="submit" value="Choose">
			</form>
		</li>
	</ul>
</div>
