<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%> <%=@time_span.name%></h4>
	<h2>Where? </h2>	
	<ul>
		<% @proximities.each do |prox| %>
			<li><%=link_to prox.name, new_activity_time_span_proximity_group_size_url(@activity, @time_span, prox) %></li>
		<% end %>
		<li><%=text_field_tag "other", "Other", :onfocus => "if(this.value == 'Other')this.value=''" %>
			<input type="submit" value="Go">
		</li>
	</ul>
</div>
