<h2>Find <%=link_to "or invite", new_invitation_url%> your friends</h2>

<div class="space"></div>
<h4><%=gmail_link %></h4>

<form>
	<div class="space"></div>
	<p>
		Please enter your friends' email addresses. <em>We will not send them email!</em><br />
		<%=text_area_tag :emails, params[:emails] %>
	</p>
	<p>
		<input type="submit" value="Look them up!">
	</p>
</form>

<% if @users %>
	<h3 class="highlight">We found <%=@users.length%> of your friends on <b>eq</b>. There are <%=link_to "#{current_user.invitable_count} people you could invite", found_email_addresses_url %>.</h3>
	<ul><%=render @users %></ul>
<% end %>