<div class="right">
	<h3>Random idea</h3>
	<p><%=@question%></p>
	<%=link_to "yes" %> <%=link_to "no" %>
</div>

<div id="blurb">
	Thanks for joining <b>eq</b>, the first social network that plans events and activites for you and your friends. To get the most out of <b>eq</b>, start with the steps below:
</div>

<div id="ideas">
	<h2>Get started...</h2>
	<ul>
		<li><%=link_to "Invite your friends!", new_invitation_url %></li>
		<li><%=link_to "Find your friends!", :controller => "friends", :action => "find"%></li>
		<li><%=link_to "Update your availability!", calendars_url%></li>
		<li><%=link_to "Add an activity!"%></li>
	</ul>
</div>
