<% content_tag_for :li, event do %>
	<h4><%=link_to event.name, event %> <span class="subtle"><%=event.creator.try(:short_name)%></span></h4>
	<h4>You are <%=current_user.event_status(event)%></h4>
	<h4>Rsvp:  
			<%=rsvp_link(event, :yes) %> |
			<%=rsvp_link(event, :no) %> |
			<%=rsvp_link(event, :maybe) %> 
	</h4>
	
<%= render :partial => 'status' %>
<% end %>