<h2>New invitation</h2>

<% form_for(@invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :class => "large" %>
  </p>
  <p>
    <%= f.submit 'Send!' %>
  </p>
<% end %>

<script>
	$(function(){
		$("#invitation_email").autocomplete("/invitations_autocomplete");
	});
</script>

<%= link_to 'Back', root_path %>