<% content_tag_for(:li, interest) do %>
	<%=interesting_link(interest)%>	
  <%=desire(interest)%> 
  to 
  <%=interest_link(interest)%>
  <div class="child tgt" id="never_<%=interest.id%>">
    <a class="x" href="#">x</a>
    <h4>I don't ever want to...</h4>
    <ul>
      <li><%=link_to "#{interest.activity.name}", new_never_path(:never => {:activity_id => interest.activity_id})%></li>
      <li><%=link_to "#{interest.activity.name} with #{interest.user.login}", new_never_path(:never => {:activity_id => interest.activity_id, :with_user_id => interest.user.id})%></li>
    </ul>
  </div>
<% end %>