<div class="yui-gc"> 
	<div class="yui-u first"> 
		
		<h2>You <%="<em>do not</em>" if @interest.negative?%> want to...</h2>
		<h4><%=@interest.description%></h4>
		<div class="space"></div>
		<h4 class="highlight">Your friends are already interested in <%=@friends.total_entries %> things that share this description</h4>
		<ul class="rows"><%=render @friends%></ul>
		<%=will_paginate @friends%>
	</div>
	<div class="yui-u">
		<h2>Similar ideas</h2>
		<% if @similar.blank? %>
			<h4>We couldn't find any similar things in your friends interests.  Maybe you should <%=link_to "invite more people", new_invitation_url %>?</h4>
		<% else %>
			<ul class="rows"><%=render @similar %></ul>
		<% end %>
	</div>
</div>