<div class="yui-gc"> 
	<div class="yui-u first"> 
		<h2><%=desire(@interest)%> </h2>
		<h4><%=@interest.description%></h4>
		<div class="space"></div>
		<h4 class="highlight">Your friends are already interested in <%=@friends.total_entries %> things that share this description</h4>
		<ul class="rows"><%=render @friends%></ul>
		<%=will_paginate @friends%>
	</div>
	<div class="yui-u">
		<h2>Availability</h2>
		<%=render "/calendars/calendar", :events => @availabilities %>
	</div>
</div>