<div class="yui-gc"> 
	<div class="yui-u first">
		<h2>Plan activities for <%=@date%></h2>
		<div class="space"></div>
		<form>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td>
						<h4>Refine by location:</h4>
						Within <%=text_field_tag "r", params[:r], :size => 4%> miles of 
						<%=text_field_tag "location", params[:location]%>
						<input type="submit" value="Go">
					</td>
					<td>
						<h4>Refine by activity:</h4>
						<%=text_field_tag "activity", params[:activity]%>
						<input type="submit" value="Go">
					</td>
				</tr>
			</table>
			<script>
				$("#activity").autocomplete("/ac");
				$("#location").autocomplete("/location/ac");
			</script>
		</form>
		<div class="space"></div>
		<h4 class="highlight"><%=@interests.total_entries%> things going on</h4>
		<ul class="rows"><%=render @interests%></ul>
		<%=will_paginate @interests%>
	</div>
	<div class="yui-u">
		<%=render "/activities/calendar_column"%>
	</div>
</div>
	