<div class="yui-g"> 
	<div class="yui-u first"> 
		
		<h3><%=link_to "Add an event &#187;", new_event_url %></h3>
		<div class="space"></div>

		<% form_for WebCalendar.new do |f| %>
			<h3><%=link_to "Add a web calendar", "#cal" %></h3>
			<div class="tgt" id="cal">
				<%=f.text_field :url, :value => "http://" %> 
				<input type="submit" value="Add">
				<% if current_user.web_calendars? %>
					<blockquote>
						<h4>Following these calendars:</h4>
						<ul id="web_calendars"><%=render current_user.web_calendars %></ul>
						
					</blockquote>
				<% end %>	
				<div class="space"></div>
				<p>We can get your busy information from a publicly shared web calendar in the iCal format.  </p>
				
				<p><b>gCal:</b> http://www.google.com/calendar/ical/<b>your email</b>/public/basic.ics</p>
				<p><b>MobileMe:</b> http://cal.mac.com/<b>membername</b>/<b>Calendarname</b></p>
				<p>Check with your calendar provider, and make sure to enable at least free/busy sharing.</p>
			</div>
		<% end %>
		<div class="space"></div>
		<% form_for BusyInterval.new(params[:busy_interval]) do |f| %>
			<h3><%=link_to "Add a busy period", "#busy" %></h3>
			<div class="tgt" id="busy">
				<%=f.text_field :start, :size => 20, :class=> "date-pick" %> 
				to 
				<%=f.text_field :finish, :size => 20, :class=> "date-pick" %> 
				<input type="submit" value="Add">
			</div>
		<% end %>
		<div class="space"></div>
		<% form_for Trip.new do |f| %>
			<h3><%=link_to "Add a trip", "#trip" %></h3>
			<div class="tgt" id="trip">
				I'm going to:<br/> <%=f.text_field :location_string, :size => 20 %> from
				<div class="space"></div>
				<%=f.text_field :start, :size => 20, :class=> "date-pick" %> 
				to 
				<%=f.text_field :finish, :size => 20, :class=> "date-pick" %> 
				<input type="submit" value="Add">
			</div>
		<% end %>
		<div class="space"></div>
		<div class="tgt" id="clicked">
			<form method="POST" action="/current_event" id="selected_event">
				<a href="#" class="x">x</a>
				<h3>Event Details&nbsp;&nbsp;&nbsp;<%=check_box_tag "selected_busy"%> <label for="selected_busy">busy?</label></h3>	
				<div class="space"></div>
				<h4>Where</h4>
				<%=text_field_tag :selected_location, ""%> 
				<div class="space"></div>
				<h4>When</h4>
				<%=hidden_field_tag :selected_id, "" %>
				<%=text_field_tag :selected_start, "", :size => 20, :class=> "date-pick" %> 
				to 
				<%=text_field_tag :selected_finish, "", :size => 20, :class=> "date-pick" %>
				<div class="space"></div>
			
				<input type="submit" name="button" value="Update">
				<%=link_to_function "delete this", "if(confirm('Are you sure?')) $('#selected_delete').click()" %>
				<input style="position:absolute;left:-6000px" id="selected_delete" type="submit" name="button" value="Delete" >
			</form>
		</div>
		
  </div> 
	<div class="yui-u"> 
		<div id="calendar"></div>
	</div>
	
	<script>
	
	$(document).ready(function() {

			var d = new Date();
			var y = d.getFullYear();
			var m = d.getMonth();
			
			function clicky(calEvent, jsEvent) {
				$("#selected_id").val(calEvent.id)
				if(calEvent.title == "Busy") {
					$("#selected_busy").attr("checked", "checked");
					$("#selected_location").val("N/A");
				} else {
					$("#selected_busy").removeAttr("checked");
					$("#selected_location").val(calEvent.title);
				}
				$("#selected_start").val(calEvent.start);
				$("#selected_finish").val(calEvent.end);
				location.href = "#clicked";
				return false;
			}

			$('#calendar').fullCalendar({
				// draggable: true,
				"eventClick": clicky,
				events: [<%=@events.map {|e|
					<<-STR
					{
						"id": #{e.id},
						"title":  "#{h e.label}",
						"start": new Date(#{e.startms}),
						"end": new Date(#{e.finishms}),
					}
					
					STR
				}.join(",") 
				%>]
			});

		});
		
		$(function() {
			$('.date-pick').datepicker();
		});
		
	</script>
</div>