<div class="yui-g"> 
	<div class="yui-u first"> 
		
		<h3><%=link_to "Add an event &#187;", new_event_url %></h3>
		<div class="space"></div>

		<% form_for WebCalendar.new do |f| %>
			<h3><%=link_to "Add a web calendar", "#cal" %></h3>
			<div class="tgt" id="cal">
				<%=f.text_field :url, :value => "http://" %> 
				<input type="submit" value="Add">
				<% if current_user.web_calendars? %>
					<blockquote>
						<h4>Following these calendars:</h4>
						<ul id="web_calendars"><%=render current_user.web_calendars %></ul>
						
					</blockquote>
				<% end %>	
				<div class="space"></div>
				<p>We can get your busy information from a publicly shared web calendar in the iCal format.  </p>
				
				<p><b>gCal:</b> http://www.google.com/calendar/ical/<b>your email</b>/public/basic.ics</p>
				<p><b>MobileMe:</b> http://cal.mac.com/<b>membername</b>/<b>Calendarname</b></p>
				<p>Check with your calendar provider, and make sure to enable at least free/busy sharing.</p>
			</div>
		<% end %>
		<div class="space"></div>
		<% form_for BusyInterval.new(params[:busy_interval]) do |f| %>
			<h3><%=link_to "Add a busy period", "#busy" %></h3>
			<div class="tgt" id="busy">
				<%=f.text_field :start, :size => 20, :class=> "date-pick" %> 
				to 
				<%=f.text_field :finish, :size => 20, :class=> "date-pick" %> 
				<input type="submit" value="Add">
			</div>
		<% end %>
		<div class="space"></div>
		<% form_for Trip.new do |f| %>
			<h3><%=link_to "Add a trip", "#trip" %></h3>
			<div class="tgt" id="trip">
				I'm going to:<br/> <%=f.text_field :location_string, :size => 20 %> from
				<div class="space"></div>
				<%=f.text_field :start, :size => 20, :class=> "date-pick" %> 
				to 
				<%=f.text_field :finish, :size => 20, :class=> "date-pick" %> 
				<input type="submit" value="Add">
			</div>
		<% end %>
		<div class="space"></div>
		<div class="tgt" id="clicked">
			<% form_for @event, :url => "/current_event" do |f| %>
				<a href="#" class="x">x</a>
				<h3>Event Details&nbsp;&nbsp;&nbsp;<%=f.check_box :busy, :id => "interval_busy" %> <label for="selected_busy">busy?</label></h3>	
				<div class="space"></div>
				<h4>Where</h4>
				<%=f.text_field :location_string, :id => "interval_location_string"%> 
				<div class="space"></div>
				<h4>When</h4>
				<%=hidden_field_tag "interval[id]", @event && @event.id %>
				<%=f.text_field :start, :size => 20, :class=> "date-pick", :id => "interval_start" %> 
				to 
				<%=f.text_field :finish, :size => 20, :class=> "date-pick", :id => "interval_finish" %>
				<div class="space"></div>
			
				<input type="submit" name="button" value="Update">
				<%=link_to_function "delete this", "if(confirm('Are you sure?')) $('#selected_delete').click()" %>
				<input style="position:absolute;left:-6000px" id="selected_delete" type="submit" name="button" value="Delete" >
			<% end %>
		</div>
		
  </div> 
	<div class="yui-u"> 
		<%= render 'calendar', :events => @events %>
	</div>
</div>