<div class="right">
	<%=event_link %>
</div>

<div id="ideas">
	<h4>You want to <%=@activity.name%></h4>
	<h2>When? </h2>	
	<ul>
		<% @time_spans.each do |span| %>
			<li><%=link_to span.name, new_activity_time_span_proximity_url(@activity, span) %></li>
		<% end %>
		<li><a href="#advanced">Advanced</a>
			<div class="tgt" id="advanced" style="overflow:hidden">
				<p style="float:left">
				Between:<br />
				<%=text_field_tag "other", Time.now.to_s, :onfocus => "if(this.value == 'Start')this.value=''" %>
				and
				<%=text_field_tag "other", 1.month.from_now.to_s, :onfocus => "if(this.value == 'Fin')this.value=''" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>				<br><input type="submit" value="Choose">	</p>
				</p>
				<p style="float:left">On a:<br />
					<input type="checkbox" checked> Mon  &nbsp;&nbsp;&nbsp;     <br>
					<input type="checkbox" checked> Tues  &nbsp;&nbsp;&nbsp;    <br>
					<input type="checkbox" checked> Weds  &nbsp;&nbsp;&nbsp;    <br>
					<input type="checkbox" checked> Thurs  &nbsp;&nbsp;&nbsp; 
				</p>
				<p style="float:left">&nbsp;<br />
				<input type="checkbox" checked> Fri  &nbsp;&nbsp;&nbsp;     <br>
				<input type="checkbox" checked> Sat  &nbsp;&nbsp;&nbsp;     <br>
				<input type="checkbox" checked> Sun  &nbsp;&nbsp;&nbsp;     
				</p>
				
						<p style="float:left">In the:<br />
						<input type="checkbox" checked> Morning  &nbsp;&nbsp;&nbsp;     <br>
						<input type="checkbox" checked> Afternoon  &nbsp;&nbsp;&nbsp;     <br>
						<input type="checkbox" checked> Evening  &nbsp;&nbsp;&nbsp;     <br>
						<input type="checkbox" checked> Night  &nbsp;&nbsp;&nbsp;     
						</p>
				
			</div>
		</li>
			
		</li>
	</ul>
</div>
