<div class="yui-gc"> 
	<div class="yui-u first"> 
		<% if @mass.blank? && @stream.blank?%>
			<%= render :partial => 'blank' %>
		<% else %>
			<h3><%=link_to "What would you like to do?", "#suggest" %></h3>
			<div class="tgt ideas" id="suggest">
				<h2>I want to...</h2>
				<%= render :partial => 'root', :activities => @activities %>
			</div>
			<div class="space"></div> 
		<% end %>
		<% unless @invitations.blank? %>
			<h3>Unresponded to invitations</h3>
			<ul class="rows"><%=render @invitations%></ul>			
			<div class="space"></div>
		<% end %>
		<% unless @mass.blank? %>
			<h3>Critical mass</h3>
			<ul class="rows"><%=render @mass%></ul>			
			<div class="space"></div>
		<% end %>
		<% unless @stream.blank? %>
			<h3>The stream</h3>
			<ul class="rows"><%=render @stream%></ul>
			<%=show_hidden_link %>
			<%=will_paginate @stream %>
		<% end %>
  </div> 
	<div class="yui-u"> 
		<% if current_user.needs_permissions? %>
			<fb:prompt-permission perms="create_event,rsvp_event,offline_access" next_fbjs="document.setLocation('http://eq.kylemaxwell.com/fb/update')">We need to be able to set up events for you in Facebook.</fb:prompt-permission>
		<% end %>
		<h3>Random idea</h3>
		<p>Do you want to <%=@activity.name %>?</p>
		<%=link_to "never", new_never_path(:never => {:activity_id => @activity.id}), :class=> "right" %>
		<%=link_to "yes", new_activity_time_span_path(@activity) %> 
		<%=link_to "no", "/" %>
		<div class="space"></div>
		
		<%= render :partial => 'calendar_column' %>
	</div>
</div>